* {
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, .3); */
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 16px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #222;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

.center {
    max-width: 540px;
    min-width: 320px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.search-index {
    display: flex;
    position: fixed;
    z-index: 3;
    max-width: 540px;
    min-width: 320px;
    width: 100%;
    height: 44px;
    padding-left: 12px;
}

.search {
    position: relative;
    height: 28px;
    flex: 1;
    margin: 7px 10px;
    border: 1px solid #ccc;
    /* font-size: 12px; */
    line-height: 26px;
    color: #666;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding-left: 25px;
    background-color: #f6f6f6;
}

.search::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 15px;
    height: 15px;
    background: url(../images/home-common-sprite2x@v7.15.png) no-repeat -0px -0px;
    background-size: 21px auto;
}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    /* text-align: center; */
    color: #FFF;
    padding-right: 5px;
}

.user::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/home-common-sprite2x@v7.15.png) no-repeat 1px -36px;
    background-size: 21px auto;
    margin: 4px 0px 1px;
}

.focus {
    border-radius: 0 0 50% 50% / 0 0 45px 45px;
    background: #f2f2f2;
    overflow: hidden;
}

.focus img {
    width: 100%;
}

.focus:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 60px;
    max-width: 540px;
    min-width: 320px;
    width: 100%;
}

.local-nav {
    position: relative;
    height: 64px;
    /* width: 80%; */
    display: flex;
    background-color: #fff;
    margin: -57px 12px 10px;
    border-radius: 8px;
    /* z-index: 4; */
}

.local-nav a {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #222;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
}

.local-nav a span {
    flex: 1;
}

.local-nav a span:nth-child(1) {
    padding-bottom: 6px;
}

.local-nav a span[class^=icon-local] {
    width: 40px;
    height: 40px;
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat;
    background-size: 40px auto;
}

.local-nav a:nth-child(2) span {
    background-position: 0 -40px;
}

.local-nav a:nth-child(3) span {
    background-position: 0 -80px;
}

.local-nav a:nth-child(4) span {
    background-position: 0 -120px;
}

.nav-common {
    display: flex;
    height: 65px;
    background-color: #666;
    line-height: 65px;
    text-align: center;
    font-size: 14px;
}

.nav-common a:nth-child(1) {
    flex: 0 1 31%;
}

.grid-nav-hotel a:nth-child(1) {
    border-top-left-radius: 8px;
    background: url(../images/grid-nav-items-hotel@v7.15.png) no-repeat bottom right;
    background-size: 73px auto;
}

.grid-nav-hotel a:nth-child(2) {
    background: url(../images/grid-nav-items-minsu@v7.15.png) no-repeat left bottom;
    background-size: 37px auto;
}

.nav-common a:nth-child(n+2) {
    flex: 0 1 23%;
}

div.grid-nav-hotel a.nav-item-jhj {
    border-top-right-radius: 8px;
    flex: 0 1 46%;
    background: -webkit-gradient(linear, left top, right top, from(#ffbc49), to(#ffd252));
    background: linear-gradient(to right, #ffbc49, #ffd252);
    ;
    border-right: none;
}

.nav-item-jhj-text {
    display: block;
    width: 100%;
    position: relative;
    background: url(../images/grid-nav-items-jhj@v7.15.png) no-repeat bottom right;
    background-size: 86px auto;
    color: #a05416;
}

.nav-item-jhj-tag {
    position: absolute;
    top: 9px;
    right: 65px;
    font-size: 10px;
    background-color: #f54c45;
    border-radius: 7px 7px 7px 0;
    padding: 0 3px;
    line-height: normal;
    color: #ffffff;
}

.nav-entry {
    margin: 0 12px;
}

.nav-common a:nth-child(-n+3) {
    border-right: 1px solid #fff;
}

.nav-entry div:nth-child(2) {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.nav-entry .nav-common:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(to right, #fa5956, #fb8650 54%);
}

.nav-common a:nth-child(1) {
    text-align: left;
    padding-left: 12px;
}

.grid-nav-flight {
    background: linear-gradient(to right, rgb(75, 143, 237), rgb(83, 188, 237));
    background: -webkit-linear-gradient(to right, rgb(75, 143, 237), rgb(83, 188, 237));
}

.grid-nav-flight a:nth-child(1) {
    background: url(../images/grid-nav-items-flight@v7.15.png) no-repeat bottom right;
    background-size: 79px auto;
}

.grid-nav-flight a:nth-child(2) {
    background: url(../images/grid-nav-items-train.png) no-repeat bottom left;
    background-size: 37px auto;
}

.grid-nav-trval {
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(to right, rgb(52, 194, 169), rgb(107, 213, 89));
    background: -webkit-linear-gradient(to right, rgb(52, 194, 169), rgb(107, 213, 89));
}

.grid-nav-trval a:nth-child(1) {
    background: url(../images/grid-nav-items-travel@v7.15.png) no-repeat right bottom;
    background-size: 94px auto;
    border-bottom-left-radius: 8px;
}

.grid-nav-trval a:nth-child(2) {
    background: url(../images/grid-nav-items-dingzhi@v7.15.png) no-repeat left bottom;
    background-size: 37px auto;
}

.grid-nav-trval a:nth-child(4) {
    border-bottom-right-radius: 8px;
}

.sub-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px;
    padding-bottom: 7px;
    font-size: 10px;
}

.sub-nav li {
    flex: 20%;
}

.sub-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222222;
}

.sub-nav li a span[class^=sub-nav-icon] {
    width: 28px;
    height: 28px;
    background: url(../images/un_ico_subnav2x@v7.152.png) no-repeat;
    background-size: 28px auto;
    margin: 10px 0 5px;
}

.sub-nav li:nth-child(2) a span {
    background-position: -0 -28px;
}

.sub-nav li:nth-child(3) a span {
    background-position: -0 -56px;
}

.sub-nav li:nth-child(4) a span {
    background-position: -0 -84px;
}

.sub-nav li:nth-child(5) a span {
    background-position: -0 -112px;
}

.sub-nav li:nth-child(6) a span {
    background-position: -0 -140px;
}

.sub-nav li:nth-child(7) a span {
    background-position: -0 -168px;
}

.sub-nav li:nth-child(8) a span {
    background-position: -0 -196px;
}

.sub-nav li:nth-child(9) a span {
    background-position: -0 -224px;
}

.sub-nav li:nth-child(10) a span {
    background-position: -0 -252px;
}

.tool-box {
    display: flex;
    /* justify-content: space-around; */
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #c2c2c2;
}

.tool-box a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    padding: 10px 0;
}

.tool-box a span[class^=tool-box-icon] {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    background: url(../images/un_ico_home_v620.png) no-repeat;
    background-size: 104px auto;
}

.tool-box a:nth-child(1) span {
    background-position: -57px -152px;
}

.tool-box a:nth-child(2) span {
    background-position: -57px -172px;
}

.tool-box a:nth-child(3) span {
    background-position: -59px -309px;
}

footer {
    text-align: center;
    font-size: 12px;
}

.tool-ver {
    margin-top: 10px;
}

.tool-ver a {
    color: #666;
}

footer p {
    margin: 0;
    padding: 5px 0;
    color: #999999;
}

.language-icon {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/un_icon_sites.png) no-repeat -0 -160px;
    background-size: 30px auto;
    margin-right: 2px;
    top: 3px;
}

.triangle {
    display: inline-block;
    border: 1px solid #666;
    border-width: 0 1px 1px 0;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    vertical-align: 2px;
}

.sub-nav-tag {
    position: relative;
    left: 15px;
    top: -2px;
    background: -webkit-linear-gradient(to right, #f94242, #ffa25f);
    background: linear-gradient(to right, #f94242, #ffa25f);
    color: #fff;
    border-radius: 7px;
    padding: 0px 5px;
}