.Hi_guys_Ive_got_the_O2_package_and_have_really_ {
  font-size: 14px;
  font-family: "ProximaNova";
  color: rgb(88, 93, 104);
  line-height: 1.357;
  position: absolute;
  left: 845.994px;
  top: 222.25px;
  width: 666px;
  height: 51px;
  z-index: 287;
}
