@media screen and (min-width:750px) {
    html {
        font-size: 75px!important;
    }
}

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 10rem;
    margin: 0 auto!important;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #F2F2F2;
    font-size: .32rem;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 10rem;
    height: 1.173333rem;
    background-color: #ffc001;
    font-size: .32rem;
}

.clasify {
    width: .586667rem;
    height: .933333rem;
    margin: .146667rem .333333rem .093333rem .32rem;
    background: url(../images/classify.png) no-repeat;
    background-size: .586667rem, .933333rem;
}

.search {
    flex: 1;
    margin: .16rem 0;
}

.search input {
    height: .88rem;
    width: 100%;
    line-height: .88rem;
    background-color: #fff2cc;
    padding-left: .733333rem;
    outline: none;
    border-radius: .44rem;
    border: none;
}

.login {
    width: 1rem;
    height: .933333rem;
    line-height: .933333rem;
    text-align: center;
    margin: .133333rem;
    color: #fff;
}

.banner {
    width: 100%;
    height: 4.906667rem;
}

.banner img {
    width: 100%;
    height: 100%;
}

.ad {
    display: flex;
}

.ad a {
    flex: 1;
}

.ad a img {
    width: 100%;
}

.main-nav {
    width: 10rem;
    text-align: center;
}

.main-nav a {
    float: left;
    width: 2rem;
    height: 1.866667rem;
    font-size: .32rem;
}

.main-nav a img {
    width: 1.093333rem;
    height: 1.093333rem;
    margin: .133333rem .453333rem 0;
}

.grap-hidden {
    width: 10rem;
    height: 1.333333rem;
}

.category {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #fff;
    width: 10rem;
    height: 1.333333rem;
    text-align: center;
}

.category a {
    display: flex;
    flex-direction: column;
}

.category img {
    width: .64rem;
    height: .64rem;
    margin: .16rem .68rem 0;
}

.category a span {
    font-weight: bold;
    font-size: .266667rem
}