<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
   <welcome-file-list>
    <welcome-file>select2.html</welcome-file>
  </welcome-file-list>
  <context-param>
  		<param-name>mainEmail</param-name>
  		<param-value>zhangda@abcdfgh.com</param-value>
  </context-param> 
 <servlet>
  	<servlet-name>First Servlet</servlet-name>
  	<servlet-class>lesson.ex1.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First Servlet</servlet-name>
  	<url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>First Servlet3</servlet-name>
  	<servlet-class>lesson.ex1.CodeReturn</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First Servlet3</servlet-name>
  	<url-pattern>/Servl3</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>First Servlet4</servlet-name>
  	<servlet-class>lesson.ex1.TestInitParams</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>123456896@163.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First Servlet4</servlet-name>
  	<url-pattern>/Servl4</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>SelectBeer</servlet-name>
  	<servlet-class>lesson.ex1.SelectBeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectBeer</servlet-name>
  	<url-pattern>/Servl2.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>SelectBeer1</servlet-name>
  	<servlet-class>lesson.ex1.SelectBeerServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectBeer1</servlet-name>
  	<url-pattern>/Servl3.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>SelectBeer2</servlet-name>
  	<servlet-class>lesson.ex1.ShowBrownBeer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectBeer2</servlet-name>
  	<url-pattern>/BrownBeer</url-pattern>
  </servlet-mapping>

   <servlet>
  	<servlet-name>SelectBeer3</servlet-name>
  	<servlet-class>lesson.ex1.ShowDarkBeer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectBeer3</servlet-name>
  	<url-pattern>/DarkBeer</url-pattern>
  </servlet-mapping>
  
</web-app>