<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="main">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
          </template>

        <!-- v-else-if 根据type的值进行显示 -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>


    <script type="text/javascript">
        var vm = new Vue({
            el: '#main',
            data: {
                awesome: '',
                ok: true,
                type: 'A',
                loginType: 'username'
            }
        });
    </script>

    <!-- 允许用户在不同的登录方式之间切换 -->
    <div id="no-key-example">
        <template v-if="loginType === 'username'">
                <label>Username</label>
                <input placeholder="Enter your username">
            </template>
        <template v-else>
                <label>Email</label>
                <input placeholder="Enter your email address">
             </template>
        <button @click="toggleLoginType">Toggle login type</button>
    </div>
    <script>
        new Vue({
            el: '#no-key-example',
            data: {
                loginType: 'username'
            },
            methods: {
                toggleLoginType: function() {
                    return this.loginType = this.loginType === 'username' ? 'email' : 'username'
                }
            }
        })
    </script>
    <!-- key attribute -->
    <div id="key-example">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
         </template>
        <button @click="toggleLoginType">Toggle login type</button>
    </div>
    <script>
        new Vue({
            el: '#key-example',
            data: {
                loginType: 'username'
            },
            methods: {
                toggleLoginType: function() {
                    return this.loginType = this.loginType === 'username' ? 'email' : 'username'
                }
            }
        })
    </script>

    <!-- `v-if` 与` v-for` 一起使用 -->
</body>


</html>