body {
    width: 904px;
    height: 400px;

    font-size: 13px;
    line-height: 1.5;
    font-weight: 560;
    color:#454545;
    box-sizing: border-box;
}

.row-1 {
    height: 10%;
}

.row-2 {
    height: 20%;
    margin-bottom: 1px;
    box-shadow: 0 0 1px #cccccc;
}

.row-8 {
    height: 90%;
}

.resume {
    background: #454545;
}
.resume-title 
{
    font-size: 22px;
    font-weight: 900;
    color: white;
    padding:  5px 10px;
}

.sidebar-infor .item,
.sidebar-contact .item {
    display: inline-block;
    margin-right: 25px;
}

.sidebar-infor .title,
.sidebar-contact .title,
.sidebar-ability .title,
.sidebar-education .title,
.sidebar-progrom .title {
    float: left;
    width: 70px;
    height: 100%; 
    /* display: inline-block; */
    background: #777777;

}

.sidebar-infor .title .conten,
.sidebar-contact .title .conten,
.sidebar-ability .title .conten,
.sidebar-education .title .conten,
.sidebar-progrom .title .conten {
    margin: 30px 20px;
    /* background: #777777;
    height: 100%; 
    width: 100%; */
    /* display: inline-block; */
    /* line-height:6;  仅在不高度是确定 */
    /* text-align: center;  */
}

.sidebar-infor .content,
.sidebar-contact .content,
.sidebar-ability .content,
.sidebar-education .content,
.sidebar-progrom .content {
    /* position: relative;
    left:10px;
    top: 5px; */
    margin-left: 100px;
}