@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1591234599260'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1591234599260#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABmwAAAJuAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4fwE2AiQDCAsGAAQgBYRtBzAbpQUjEXZa7cmR/RU2ZbgXiFgwoEQElAAgDAFwPLKHdr4j/w4ZMADgAwkkUAAAAABABI9rn/OS7L8cYEEBoGeWACAMgWqFq2chKwxalsCqtrs4Z9VRXpioy5GcPfmhLqQdYJbBW4EMcBNswMWQ6EAyw7bZrawJyiMXR4hCo81Uqk3pMujLz4DL6U+gBxl1QLntSWNNHhMwCjigvTGKrBgbxi54gc8J9Jhgnljz3bJHVdjrAnG2PnFILYQVheWq0Gk4WsQDjZrupZeE+9Hv46coKkmT2Q07jq89asWXzSnItdkbECIEdLpBxjwUYk9jepssGJf1pIspHKs2+LK1beASR7UL9tfZ1X1gHFQ8k9JTPWp1AiXJTsFCzJbtqRl/fvdPXg2Ldncssj/VViqL/U7IK7hRBZlQPjx8xDf8xc62d6CNC2jYeDq6Xk84zU6OCK68/WDeV7fZ2Pv/l2ZGK+jt1SJfRd2nJ/g3yoF9xVDbzlQ0ZaM3mTJpbUKPHrSwf8TnqZYxN5IP1Zjb8XYZnyGrppGFnYdGr2XoqJajx1zrT/ca5bIsSjfmuAUQhjxHMuAFsiGvyMJ+QmOs3+gYioweD4t4XHn3jPr2IpSMBtQfaj0O1nXzLa5N0K2dpLw64gukpY5B6AXl3A8HpCV2LJuLmC1YGnv4gtew60aYaGxQs1cxT7Hv26YPeXrsxc0LQRJDBlD+QE0bDWwwmt0q308gZ9WRqKOpLltAZFFPDkKeYAD5MwyDmh7lncXGiTBmAYuMeuALFqFOZwSm5kUNpDFPNSE5ifnOMDvU4G1v6n+gnLVhW1M487LTiVUOqhYC') format('woff2'),
  url('./iconfont/iconfont.woff?t=1591234599260') format('woff'),
  url('./iconfont/iconfont.ttf?t=1591234599260') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1591234599260#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e676";
}

