.It_is_absolutely_free {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.302);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 722.938px;
    top: 620.8px;
    z-index: 254;
  }
  
  