<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for遍历数组</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--1.在遍历的过程中,没有使用索引值(下标值)-->
        <ui>
            <li v-for="item in names">
                {{item}}
            </li>
        </ui>
        <!--2.在遍历的过程中,使用索引值(下标值)-->
        <ui>
            <li v-for="(item,index) in names">
                {{index}}-{{item}}
            </li>
        </ui>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                names: ['why', 'kobe', 'james', 'curry']
            },
            methods: {}
        });
    </script>
</body>

</html>