* {
    font-size: 12px;
    box-sizing: border-box;
    /* transition: 200ms; */
}

body {
    min-width: 990px;
    margin: 0;
}

.header {
    background: #333333;
    height: 40px;
}

.header .container {
    color: white;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.header .container .logo {
    float: left;
    line-height: 40px;
    font-size: 14px;
}

.header .container .rightnav {
    float: right;
}

.header .container .rightnav a {
    text-decoration: none;
    color: white;
    font-size: 9px;
}

.header .container .rightnav a:hover {
    color: #999;
}

.banner {
    background: #66BB33;
    height: 140px;
}

.banner .container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.banner-num {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner-num .item {
    margin: 8px 2px;
    font-size: 9px;
    background: #B2DD99;
    padding: 2px 5px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    outline: none;
}

.banner-num .item:hover {
    height: 25px;
    background: #E0F1D6;
}

.mainnav {
    height: 40px;
    border: 1px solid #eeeeee;
}

.mainnav .container {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.mainnav .container .minnav-menubar {
    position: absolute;
    left: 0;
    bottom: 0;
}

.minnav-menubar span {
    margin: 0;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 7px;
    background: #eeeeee;
}

.minnav-menubar span:hover {
    box-sizing: content-box;
    background: white;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    height: 650px;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    line-height: 200px;
    /* align-content:space-around; */
    padding: 10px 0;
}

.content>* {
    border: 1px solid #ddd;
    margin:
}

.content .content1,
.content .content2,
.content .content3 {
    flex: 1 300px;
    margin: 0 10px 10px 0
}

.content .content4,
.content .content5,
.content .content6,
.content .content7 {
    flex: 1 210px;
    margin: 0 10px 10px 0
}

.content .content8,
.content .content9,
.content .content10 {
    flex: 1 300px;
    margin-right: 10px;
}

.footer {
    height: 60px;
    background: #666666;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 9px;
}