* {
    box-sizing: border-box;
}
label[for=toggle] {
    font-size: 3rem;
    position: absolute;
    top: 4px;
    right:5px;
    z-index: 1;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    top:-100px;
}

aside {
    background: #a60000;
    color: white;
    width: 340px;
    height: 98%;
    padding: 10px 1%;
    position: fixed;
    top: 0;
    right: -370px;
    transition: 0.6s all;
}

input[type=checkbox]:checked + aside {
    right: 0px;
  }